* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

body{
  background-color: black;
  color: white;
}

.card{
  background-color: red;
  color: pink;
  margin: 15px;
  padding: 10px;
}